<header class="header"></header>

<div class="login-container" (keydown.enter)="login()">

  <h2 class="title">Iniciar sesión</h2>

  @if (error()) {
    <div class="alert alert-danger">{{ error() }}</div>
  }

  <input
    type="text"
    placeholder="Usuario"
    class="input"
    [value]="user()"
    (input)="user.set($any($event.target).value)"
  />

  <input
    type="password"
    placeholder="Contraseña"
    class="input"
    [value]="pass()"
    (input)="pass.set($any($event.target).value)"
  />

  <button
    class="btn primary"
    [disabled]="!formValid()"
    (click)="login()"
  >
    Iniciar sesión
  </button>

  <p class="switch-text">
    ¿No tienes cuenta?
    <span class="link" (click)="goToRegister()">Regístrate</span>
  </p>

</div>

<app-footer></app-footer>
