<header class="header">

</header>

<div class="login-container">

  <div class="login-text">
    No sé que esperabais... aún es un login básico
  </div>

  <input id="user" type="text" placeholder="User" class="input" />
  <input id="pass" type="password" placeholder="Password" class="input" />

  <div class="button-row">
    <button class="btn secondary" (click)="newUser()">New User</button>
    <button class="btn primary" (click)="login()">Login</button>
  </div>
</div>

<app-footer></app-footer>
