<main class="home">
  <app-header/>
  <div class="home-container">
    <app-common-words/>
    <div class="home-desc">
      Bienvenido a meka5, la web de mecanografía.
      Presiona <span class="home-desc-key">[Tab]</span> para generar nuevas palabras,
      <span class="home-desc-key">[enter]</span> para ver los resultados que has conseguido en este intento.
      Sólo puedes borrar letras en la palabra que estás actualmente,
      espacio para cambiar de palabra
      <span class="home-desc-warn">(¡Ojo!, si presionas espacio antes de terminar la palabra, la contará como errónea)</span>
    </div>
  </div>
  <app-footer/>
</main>
