<main class="home">
  <app-header/>
  <div class="home-container">
    <div class="home-desc">
      <h1 class="home-desc-title">Zona de práctica</h1>
      <p>
        Aquí puedes practicar libremente. Los resultados <strong>no se guardan</strong> ni cuentan para ninguna clasificación.
        Presiona <span class="home-desc-key">[Tab]</span> para generar nuevas palabras.
        Sólo puedes borrar letras en la palabra que estás actualmente,
        espacio para cambiar de palabra.
      </p>
      <p class="home-desc-warn">¡Ojo!, si presionas espacio antes de terminar la palabra, la contará como errónea.</p>
    </div>
    <app-common-words/>
  </div>
  <app-footer/>
</main>
